@use "../mixins" as *;
@use "../media" as *;

.team-card {
  height: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  @include mobile {
    padding-inline: 50px;
  }

  &__header {
    display: flex;
    column-gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__link {
    @include flex-center;
    @include square(34px);

    align-self: end;
    color: var(--color-accent);
    background-color: var(--color-dark);
    border-radius: 50%;
  }

  &__body {
    --teamCardBodyMarginTop: 28px;
    margin-top: var(--teamCardBodyMarginTop);
    padding-top: var(--teamCardBodyMarginTop);
    border-top: var(--border);

    @include mobile {
      --teamCardBodyMarginTop: 20px;
    }
  }
}