// Базовые стили
@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'mixins';
@use 'media';
@use 'utils';
@use 'globals';

// Блоки
@use 'blocks/button';
@use 'blocks/services';
@use 'blocks/grid';
@use 'blocks/burger-button';
@use 'blocks/header';
@use 'blocks/cross-button';
@use 'blocks/mobile-overlay';
@use 'blocks/section';
@use 'blocks/hero';
@use 'blocks/puddle-bg';
@use 'blocks/service-card';
@use 'blocks/banner';
@use 'blocks/studies';
@use 'blocks/process';
@use 'blocks/team';
@use 'blocks/team-card';
@use 'blocks/reviews';
@use 'blocks/review-card';
@use 'blocks/pagination';